*{
    color: rgb(7, 1, 1);
    background: rgb(45, 150, 199);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:darkgray;
    
    
}

#cityInput, #cityName, #inputContainer,button{
margin: 3px;
padding:5px;
text-align:left;
font-size:20px;
font-weight:bold;
}

#weatherContainer{
    background-color: beige;
    
}

#iconsContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 160px;
    width: 1200px;    
     
    border-radius: 20px;
}

.icons{
    display: inline-bock;
    float: left;
    height: 10px;
    width: 110px;
    margin: 20px;
    
    border-radius: 10px;
}




.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 15px;
    width: 55px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: small;
}


.maxValues{
    text-align: right;
    display: inline-block;
    justify-content: space-between;
    border-radius: 5px;
    height: 15px;
    width: 55px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: small;
}


